/*Stylesheet for the Full-Screen Langing Page project*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.intro {
    width: 100%;
    height: 100%;
    margin: auto;
    background: url("lavender.jpg");
    display: table;
    background-size: cover;
    opacity: .6;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.content {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 500%;
    color: rgb(123, 76, 132);
    text-shadow: 2px 1px 10px white;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 175%;
    text-decoration: none;
    color: white;
    background-color:rgb(123, 76, 132);
    border: 3px solid rgb(123, 76, 132);
    padding: 8px 15px;
    border-radius: 25px;
    transition: border .9s;
}

.btn:hover {
    border: 3px solid white;
}

p {
    font-size: 130%;
    line-height: 125%;
    text-align: justify;
    font-family: sans-serif;
}

/* Media Query for tablet sized screens and smaller */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 250%;
    }
    p {
        font-size: 100%;
        line-height: 105%;
    }
    btn {
        font-size: 140%;
    }
}